body {
  background-color: #d60000;
  padding: 0;
  margin: 0;
  user-select: none;
}

.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.logo {
  width: 33vw;
}